<% if @account %>
  <%= button_tag "Add Transaction", 
                {'data-toggle' =>  "modal", 'data-target' => '#modal-window',
                class: "btn btn-primary", id: "add-transaction",
                :onclick => "$.ajax({url: `#{new_account_transaction_path @account}`})" } %>
<% end %>
<% if @user %>
  <%= button_tag "Categories", 
                {'data-toggle' =>  "modal", 'data-target' => '#modal-window',
                class: "btn btn-primary", id: "edit-categories",
                :onclick => "$.ajax({url: `#{categories_path}`})" } %>
<% end %>