<section id="year-section">
  <% if @user %>
    Transactions year:&nbsp;<%= select_tag "year", options_for_select((2017..(@current_year + 1)), @current_year), :onchange => 'populate_transactions()'%>
  <% end %>
</section>