<div class="page-container">
  <div id="side-menu">
    <%= render 'users/users_panel' %>
    <%= render 'static_pages/year_section' %>
    <section id="accounts-list">
      <%= render 'accounts/accounts_list' %>
    </section>
    <section id="controls">
      <%= render 'static_pages/controls' %>
    </section>
    <%= render 'users/user_networth' %>
  </div>
  <div class="transactions-panel table-responsive" id="transactions-table">
  </div>
  <%= render 'static_pages/modal_template' %>
</div>