<% provide(:modal_title, 'Edit Transaction') %>
<% provide(:success_text, 'Update Transaction') %>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <%= render 'shared_modal/header' %>
    <%= form_with(model: @transaction, remote: true, method: 'patch') do |f| %>
      <div class="modal-body">
        <%= hidden_field_tag :account_id, @account.id %>
        <%= render partial: 'transactions/modal/normal_fields', locals: { f: f } %>
      </div>
      <%= render partial: 'shared_modal/footer', locals: { f: f } %>
    <% end %>
  </div>
</div>