<% provide(:modal_title, 'New Transaction') %>
<% provide(:success_text, 'Create Transaction') %>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <%= render 'shared_modal/header' %>
    <%= form_with(model: @transaction, remote: true) do |f| %>
      <div class="modal-body">
        <%= hidden_field_tag :account_id, @account.id %>
        <%= render partial: 'transactions/modal/normal_fields', locals: { f: f } %>
        <div class="form-group">
          Recurrence :&nbsp;<%= select_tag "recurrence", 
                                  options_for_select(
                                    {
                                      "N/A" => 0, "Daily" => 1, 
                                      "Weekly" => 2, "Bi-Weekly" => 3, 
                                      "Tri-Weekly" => 4, "Monthly" => 5,
                                      "Bi-Monthly" => 6
                                    }, 0
                                  ) %>
        </div>
      </div>
      <%= render partial: 'shared_modal/footer', locals: { f: f } %>
    <% end %>
  </div>
</div>