<% if @transaction.errors.full_messages.count > 0 %>
  <div id="error">
    <ul>
      <% @transaction.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: 'form-control', placeholder: "eBay", required: true %>
</div>
<div class="form-group">
  <%= f.label :details, "Details" %>
  <%= f.text_field :details, class: 'form-control', placeholder: "A bunch of rare coins", required: true %>
</div>
<div class="form-group">
  <%= f.label :date, "Date of transaction" %>
  <%= f.date_field :date, class: 'form-control', required: true, 
                          value: @transaction.date ? @transaction.date.strftime("%Y-%m-%d") : Time.now.strftime("%Y-%m-%d") %>
</div>
<div class="form-group">
  <%= f.label :cost, "Cost" %>
  <%= f.number_field :cost, class: 'form-control', step: 0.01 %>
</div>
<% if @account.credit_card %>
  <div class="form-group">
    <%= f.label :reward_amount, "Reward Amount" %>
    <%= f.number_field :reward_amount, class: 'form-control' %>
  </div>
<% end %>
<div class="form-group">
  Category:&nbsp;<%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name", @transaction.category_id || 1) %>
</div>