<tr id="category-row-<%= category.id %>">
  <td class="checkbox-column">
    <%= check_box_tag "enable_#{category.name.parameterize(separator: "_")}", 
                      category.id, 
                      !@disabled_categories.include?(category.id), 
                      class: 'category-checkbox',
                      :onchange => "$.ajax({ url: '#{category_toggle_path category.id}', type: 'POST' })" %>
  </td>
  <td><%= category.name %></td>
  <td><%= color_field_tag "fcolor-#{category.id}", category.foreground_color, disabled: true   %></td>
  <td><%= color_field_tag "bcolor-#{category.id}", category.background_color, disabled: true   %></td>
  <td class="actions-column">
    <% if category.id > 1 # Skip the 'Other' category %>
      <%= button_tag(type: 'button', 
                    class: 'btn btn-edit-category btn-warning',
                    :onclick => "$.ajax({url: '#{edit_category_path category}'})") do %>
        <i class="fa fa-pencil"></i>
      <%  end %>
      <%= button_tag(type: 'button', 
                    class: 'btn btn-delete-category btn-danger',
                    :onclick => "delete_category(#{category.id})") do %>
        <i class="fa fa-trash"></i>
      <%  end %>
    <% end %>
  </td>
</tr>