<tr id="edit-category-row">
  <td class="checkbox-column"></td>
  <td><%= text_field_tag 'edit_category_name', @category.name, class: 'form-control', placeholder: "Cool Category" %></td>
  <td><%= color_field_tag 'edit_category_foreground_color', @category.foreground_color, 
                          class: 'form-control', onchange: "change_example_foreground()" %></td>
  <td><%= color_field_tag 'edit_category_background_color', @category.background_color, 
                          class: 'form-control', onchange: "change_example_background()" %></td>
  <td class="actions-column">
    <%= button_tag(type: 'button', 
                  class: 'btn btn-save-category btn-success',
                  :onclick => "save_category(#{@category.id})") do %>
      <i class="fa fa-save"></i>
    <%  end %>
    <%= button_tag(type: 'button', 
                  class: 'btn btn-cancel-category btn-danger',
                  :onclick => "cancel_creating_category(#{@category.id})") do %>
      <i class="fa fa-times-circle"></i>
    <%  end %>
  </td>
</tr>