<div id="example-section">
  <hr>
  <h4>Example:</h4>
  <table class="table example-table">
    <tbody>
      <tr id="example-row">
        <td>Date</td>
        <td>Name</td>
        <td>Details</td>
        <td>Cost</td>
        <td>Balance</td>
        <td>Rewards</td>
      </tr>
    </tbody>
  </table>
  <hr>
</div>