<% provide(:modal_title, 'Categories') %>
<%= render 'shared_modal/header' %>
<div class="modal-body">
  <div class="table-responsive" id="categories-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Enabled</th>
          <th scope="col">Name</th>
          <th scope="col">Foreground</th>
          <th scope="col">Background</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="category-table-contents">
        <% @categories.each do |category| %>
          <%= render 'categories/modal/category_row', {category: category} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%= button_tag(type: 'button', 
                  class: 'btn btn-info',
                  :onclick => "$.ajax({ url: '#{category_toggle_path 0}', type: 'POST', success: check_all_categories() })") do %>
      <i class="fa fa-check-square"></i> Check All
    <% end %>
    <%= button_tag(type: 'button', 
                  class: 'btn btn-warning',
                  :onclick => "$.ajax({ url: '#{category_toggle_path -1}', type: 'POST', success: uncheck_all_categories() })") do %>
      <i class="fa fa-square"></i> Uncheck All
    <% end %>
    <%= button_tag(type: 'button', 
                  class: 'btn btn-success',
                  id: 'new-category-button',
                  :onclick => "$.ajax({ url: '#{new_category_path}' })") do %>
      <i class="fa fa-plus"></i> Add Category
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" data-dismiss="modal">Complete</button>
</div>