<% provide(:modal_title, 'Edit Account') %>
<% provide(:success_text, 'Update Account') %>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
  <%= render 'shared_modal/header' %>
    <%= form_with(model: @account, remote: true, method: 'patch') do |f| %>
      <div class="modal-body">
        <%= render partial: 'accounts/modal/normal_fields', locals: { f: f } %>
      </div>
      <%= render partial: 'shared_modal/footer', locals: { f: f } %>
    <% end %>
  </div>
</div>