<% provide(:modal_title, 'New Account') %>
<% provide(:success_text, 'Create Account') %>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <%= render 'shared_modal/header' %>
    <%= form_with(model: @account, remote: true) do |f| %>
      <div class="modal-body">
        <%= hidden_field_tag :user_id, @user.id %>
        <%= render partial: 'accounts/modal/normal_fields', locals: { f: f } %>
        <div class="form-group">
          <%= f.label "Credit card or loan?" %>
          <%= f.select :account_type, options_for_select([['Credit Card', 'credit_card'], ['Loan', 'loan'], ['N/A', 'na']], 'na') %>
        </div>
      </div>
      <%= render partial: 'shared_modal/footer', locals: { f: f } %>
    <% end %>
  </div>
</div>