<% if @account.errors.full_messages.count > 0 %>
  <div id="error">
    <ul>
      <% @account.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :name, "Account Name" %>
  <%= f.text_field :name, class: 'form-control', placeholder: "MyCoolAccount", required: true %>
</div>