<div class="modal-header">
  <h4 class="modal-title" id="new-account-title"><%= yield(:modal_title) %></h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>