// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#accounts-list {
  border-width: 1px;
  border-style: solid;

  overflow-x: auto;
  justify-content: center;

  height: 80%;
  width: 100%;
  padding: 3px 5px;

  form {
    padding: 3px 0;
    display: flex;

    .btn {
      margin: 0 2px;
    }

    input.btn-account {
      flex-grow: 80;
      overflow: auto;
      text-overflow: ellipsis;
    }

    .btn-delete-account, .btn-edit-account {
      flex: 1 0 auto;
    }
  }

  #add-account {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem auto;

    /* + icon */
    i {
      padding-right: .5rem;
    }
  }
}