// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.checkbox-column {
  max-width: 0;
  min-width: 1%; /* Cram that checkbox! */
}

td.actions-column {
  max-width: 0;
  min-width: 5%;
}

.example-table {
  border: 1px solid black;
  margin: 1rem 0;
}

#categories-table {
  max-height: 30rem;
}