// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins.scss";

/* Set the page to 100% height */
html, body {
  height: 100%;
}

section {
  border-width: 1px;
  border-style: solid;
}

.page-container {
  display: flex;
  height: 100%;
  width: 100%;
}

#side-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  min-width: 18.75em;
}

#year-section {
  @include centered_max_width_flex;
  
  height: 10%;
  min-height: 4em;
}

.modal-header {
  display: flex;
  justify-content: space-between;

  h4 {
    flex: max-content;
  }
}