// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins.scss";

.transactions-panel {

  border-color: green;
  border-style: solid;
  border-width: 2px;

  height: 100%;
  width: 75%;
}

#controls {
  border-color: blue;
  border-style: solid;
  border-width: 2px;

  display: flex;
  height: 8%;
  min-height: 3em;
  width: 100%;

  #add-transaction {
    flex: 1 0 0;
  }

  #edit-categories {
    flex: 1 0 0;
  }
}

.empty-transactions { 
  font-size: 3rem;
  padding-top: 1rem;
  text-align: center;
}

td {
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0;
  min-width: 10%;
}

#transaction_date {
  line-height: inherit;
}

.today-transaction {
  background-color: rgba(103, 255, 235, 0.521);
}

.hidden-transaction {
  display: none;
}

thead tr:nth-child(1) th{
  background: white; 
  position: sticky;
  top: 0;
  z-index: 10;
}