// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins.scss";

#users-list {
  border-width: 1px;
  border-style: solid;

  display: flex;

  height: 5%;
  min-height: 2em;
  width: 100%;

  a {
    @include centered_max_width_flex;
    border-style: solid;
    border-width: 1px;
  }
}

#net-worth {
  @include centered_max_width_flex;
  justify-content: start;

  padding-left: 1em;
  height: 5%;
  min-height: 2em;
}

.selected-user {
  background-color: aliceblue;
}