$("#category-row-<%= @category.id %>").hide();
$("<%= escape_javascript(render 'categories/modal/edit_category_row', {category: @category}) %>").insertAfter("#category-row-<%= @category.id %>");
$("<%= escape_javascript(render 'categories/modal/example_row') %>").insertAfter('#categories-table');
$("#new-category-button").prop("disabled", true);
<%# Call the color changes real quick %>
change_example_background();
change_example_foreground();