$("#category-table-contents").append("<%= escape_javascript(render 'categories/modal/edit_category_row', {category: @category}) %>");
$("<%= escape_javascript(render 'categories/modal/example_row') %>").insertAfter('#categories-table');
$("#new-category-button").prop("disabled", true);
$("#categories-table").scrollTop($("#categories-table").height());