$("#modal-window").modal('hide');
$("#transactions-table").html("<%= escape_javascript(render 'transactions/transaction_list') %>");
$("#accounts-list").html("<%= escape_javascript(render 'accounts/accounts_list') %>");
refresh_current_info('<%= @user.net_worth %>');
select_account(<%= @account.id %>);