<% running_balance = @starting_balance %>
<% running_rewards_balance = @starting_rewards_balance %>
<% latest_transaction = @respective_transactions&.select{|t| t.date <= Time.now }.last if @respective_transactions.first && @respective_transactions.first.date.year == Time.now.year %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Details</th>
      <th scope="col">Cost</th>
      <th scope="col">Balance</th>
      <% if @account.credit_card %>
        <th scope="col">Rewards</th>
        <th scope="col">Rewards Balance</th>
      <% end %>
      <th scope="col">Category</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="transactions-table-contents">
  <% @respective_transactions.each do |transaction| %>
    <% running_balance += transaction.transaction_cost %>
    <% running_rewards_balance += transaction.reward_amount %>
    <% transaction_category = @categories.detect{|c| c.id == transaction.category_id} %>
    <% classes = '' %>
    <% classes = 'hidden-transaction' if get_disabled_categories.include?(transaction_category.id) %>
    <% classes += ' today-transaction' if transaction == latest_transaction %>
    <tr id="transaction-<%= transaction.id %>" 
        <%= raw "class='#{classes}'" %>
        <%= raw "style='background-color: #{transaction_category.background_color}; color: #{transaction_category.foreground_color};'" unless transaction == latest_transaction %>>
      <td><%= transaction.date.to_date %></td>
      <td title="<%= transaction.name %>"><%= transaction.name %></td>
      <td title="<%= transaction.details %>"><%= transaction.details %></td>
      <td>$<%= transaction.transaction_cost(formatted: true) %></td>
      <td>$<%= number_with_precision(running_balance, precision: 2, delimiter: ',') %></td>
      <% if @account.credit_card %>
        <td><%= transaction.reward_amount %></td>
        <td><%= running_rewards_balance %></td>
      <% end %>
      <td><%= transaction_category.name %></td>
      <td>
        <%= button_tag(type: 'button', 
                      'data-toggle' =>  "modal", 'data-target' => '#modal-window',
                      class: 'btn btn-edit-transaction btn-warning',
                      :onclick => "$.ajax({url: '#{edit_transaction_path transaction}'})") do %>
          <i class="fa fa-pencil"></i>
        <%  end %>
        <%= button_tag(type: 'button', 
                      class: 'btn btn-delete-transaction btn-danger',
                      :onclick => "$.ajax({url: '#{transaction_path transaction}',type: 'DELETE'})") do %>
          <i class="fa fa-trash"></i>
        <%  end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if not @skip_jump %>
  <script>
  (() => { 
    var t = $('td:contains("<%= latest_transaction&.date&.strftime("%Y-%m-%d") %>")')[0]
    if (t) {
      t.scrollIntoView();
    } 
  })();
  </script>
<% end %>