$("#transactions-table").html(`
  <% if @respective_transactions.count > 0 %>
    <%= render 'transactions/transaction_list' %>
  <% else %>
    <div class="empty-transactions">There appears to be no transactions for this year!</div>
  <% end %>
`);

select_account(<%= @account.id %>);

$("#controls").html("<%= escape_javascript(render 'static_pages/controls') %>");