<% if @user_accounts %>
  <% @user_accounts.each do |account| %>
    <%= form_with(url: account_transactions_path(account), 
                  remote: true, method: 'get', 
                  id: "form-account-#{account.id}") do |f| %>
      <div>
        <%= hidden_field_tag :year, @current_year %>
      </div>
      <%= f.submit "#{account.name} ($#{number_with_precision(account.current_balance, precision: 2, delimiter: ',')})", 
                    class: "btn btn-account btn-primary", id: "account-#{account.id}" %>
      <%= button_tag(type: 'button', 
                     'data-toggle' =>  "modal", 'data-target' => '#modal-window',
                     class: 'btn btn-edit-account btn-warning',
                     :onclick => "$.ajax({url: `#{edit_account_path account}`})") do %>
        <i class="fa fa-pencil"></i>
      <%  end %>
      <%= button_tag(type: 'button', 
                     class: 'btn btn-delete-account btn-danger',
                     :onclick => "delete_account(#{account.id})") do %>
        <i class="fa fa-trash"></i>
      <%  end %>
    <% end %>
  <% end %>
<% end %>
<% if @user %>
  <%= button_tag('data-toggle' =>  "modal", 
                 'data-target' => '#modal-window',
                 class: "btn btn-success", id: "add-account",
                 :onclick => "$.ajax({url: `#{new_account_path @user}`})") do %>
    <i class="fa fa-plus"></i> Add Account
  <% end %>
<% end %>