$("#modal-window").modal('hide');

currently_selected = $("input.btn-success")[0];
$("#accounts-list").html("<%= escape_javascript(render 'accounts/accounts_list') %>");
<%# Need to make sure we re-select the account after the list was re-rendered %>
if (currently_selected) {
  select_account(currently_selected.id.slice(-1));
}

refresh_current_info('<%= @user.net_worth %>');