currently_selected =$("input.btn-success")[0];
<%# If viewing this account's transactions, clear them out %>
if (currently_selected && currently_selected.id == 'account-<%= params[:id] %>') {
  $("#transactions-table").html("");
}
$("#form-account-<%= params[:id] %>").remove();
refresh_current_info('<%= @user.net_worth %>');